@import './font-awesome/scss/font-awesome';

html,
body,
#app {
    height: 100%;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

#app {
    display: flex;

    justify-content: center;
    align-items: center;
}