@import '../../styles/colors';

$border: 1px solid $color-black;

.tree-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    height: 100%;
    border: $border;

    i {
        width: 1rem;
        margin-right: 0.4rem;
    }

    >.header {
        height: 3rem;
        border-bottom: $border;

        flex-shrink: 0;

        background-color: $color-light-grey;
    }

    >.months-list {
        padding: 0.5rem;
        overflow-y: auto;

        >.month-item {
            >.month-name {
                &.missing {
                    background-color: rgba($color-red, 0.3);
                }

                &.empty {
                    >i {
                        opacity: 0;
                    }
                }

                &:not(.empty) {
                    cursor: pointer;
                }
            }

            >.events-container {
                >.event {
                    padding: 0.2rem 0 0.2rem 1rem;
                    cursor: pointer;

                    &.active {
                        background-color: $color-blue;
                    }
                }
            }
        }
    }
}



