@import '../../styles/colors';

.calendar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 0.5rem;
    border: 1px solid $color-black;

    >.header {
        display: flex;
        padding: 0.3rem;

        background-color: $color-light-grey;
        justify-content: space-between;

        >i {
            cursor: pointer;
        }
    }

    >.main-section {
        $cell-size: 1rem;
        $cell-margin: 0.5rem;

        text-align: center;
        margin-top: 1rem;

        >.day-names {
            >.name {
                display: inline-block;
                margin: $cell-margin;
                width: $cell-size;
            }
        }

        >.days-grid {
            >.week {
                >.day {
                    display: inline-block;
                    padding: $cell-margin;
                    min-width: $cell-size;

                    &.clickable {
                        cursor: pointer;
                    }

                    &.active {
                        background-color: $color-dark-grey;
                    }
                }
            }
        }
    }
}
